\#*\#
TAGS
*.html
~*
*~
*.o
~*.*
*.*~
*.exe
*.EXE
*.pbi
*.cout
*semanticdb*
/.history
/.ssh/
/_viminfo
/bin/
/bu/
/share/
/org/
/.bash_history
*w3m-*
/.config/
/.elmo/
/.gitconfig
/.idlerc/
/.lesshst
/.minttyrc
/Aspell/
/libexec/
/temp.org
/var/
/vimfiles/
server
config.el
elpa
.authinfo
ac-comphist.dat
/projects.el
